@import '../../styles/vars';
.header {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background-color: #363c60;
  padding: 10px;
  top: 0;
  position: relative;
  transition: all 0.5 ease;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  .h1 {
    color: $pink;
    font-size: 1.3em;
  }
}

.header.sticky {
  position: fixed;
  top: 0;
  background-color: #334d79;
  transition: all 0.5 ease;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.switch {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-left: auto;
}

.switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: $green;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: $green;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 7px;
  width: 100px;
  height: $height;
  background-color: $green;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: '';
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: $green;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
.headerBtn {
  border-radius: 10px;
  background-color: transparent;
  color: $green;
  height: $height;
  padding: 10px;
  border: 2px solid $green;
  margin-left: 10px;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.userHeaderCont {
  display: flex;
  gap: 10px;
  margin-right: 0;
}
.userMenu_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
