$mediumScreen: 992px;
$smallScreen: 576px;
$orange: #ff8c32;
$green: #fcd900;
$height: 40px;
$backgroundDefault: #20212a;
$textColor: #fff;
$green: #69d882;
$violet: #9d1c6a;
$pink: #c2117b;
$lightBlack: #282933;
