.welcomeContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}
.mainTextContainer {
  height: 90vh;
  position: relative;
  background-image: url('../../assets/images/svg/welcomeBanner.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: left top;
}
.aboutAppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 70%;
  margin-right: 0;
  margin-left: auto;
}
.mainTitle {
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
  color: #ff7000;
}
.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  position: relative;
  list-style: none;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 80%;
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  margin-top: 1rem;
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: #223754;
  color: #f4825c;
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * 1rem));
  margin-right: calc(-1 * 1rem);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  position: relative;
  width: 90%;
  background-color: #e9c9a5;
  transition: width 0.8s ease;
  clip-path: polygon(
    0 0,
    calc(100% - 1.5rem) 0,
    100% 50%,
    calc(100% - 1.5rem) 100%,
    calc(100% - 1.5rem) calc(100% + 1rem),
    0 calc(100% + 1rem)
  );
  padding: 10px 20px;
}
.content:hover {
  transition: width 0.8s ease;
  width: 100%;
}
.content::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #e9c9a5;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.content::after {
  content: '';
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.icon {
  position: relative;
  align-self: center;
  width: 70px;
}
.innerIcon {
  width: 100%;
  height: auto;
}

.content .title {
  font-size: 2em;
  font-weight: 500;
  color: #223754;
}

.linkItem {
  display: flex;
  gap: 20px;
  color: #000;
}
.profCardsCont {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.profCard {
  position: relative;
  max-width: 350px;
  padding: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.gitIcon {
  height: 80%;
  width: auto;
}
.gitLink {
  border-radius: 10px;
  background-color: #c0321a;
  height: 20px;
  display: flex;
  justify-content: center;
}

.devName {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}
.devStatus {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  color: rgba(19, 2, 2, 0.439);
}
.devCardsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
