.errorMessageCont {
  display: flexbox;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: rgba(210, 79, 72, 0.842);
  color: whitesmoke;
  font-weight: 600;
}
